<!DOCTYPE html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
        <title>Dashboard | Geospatial Analytics</title>
    </head>
    <body>
        <div class="container-contact100" style="background-image: url({{ url_for('static', filename='images/bg-01.jpg') }})">
            <div class="wrap-contact100">
                <span class="contact100-form-title">
                    Dashboard
                </span>

                <!--
                    INSERT CONTENT HERE
                -->

            </div>
            
            <span class="contact100-more">
                The Geospatial Store © 2020
            </span>
        </div>
    </body>
</html>