<!DOCTYPE html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
        <title>Dashboard | Geospatial Analytics</title>
    </head>
    <body>
        <div class="container-contact100" style="background-image: url({{ url_for('static', filename='images/bg-01.jpg') }})">
            <div class="wrap-contact100">
                <span class="contact100-form-title">
                    Dashboard
                </span>

                <table>
                    {% for record in content %}
                    <tr>
                       <td class="c2">{{ record[0] }}</td>
                       <td class="c3">{{ record[1] }}</td>
                       <td class="c2">{{ record[2] }}</td>
                       <td class="c3">
                           {% if record[3]| length > 0 %}
                                <a href="{{ url_for('static', filename='uploads/'+record[3]) }}">Link</a>
                           {% endif %}
                       </td>
                       <td class="c3">{{ record[4] }}</td>
                    </tr>
                    {% endfor %}
                </table>

                <br>

                <div class="container-contact100-form-btn">
                    <div class="wrap-contact100-form-btn">
                        <div class="contact100-form-bgbtn"></div>
                        <button class="contact100-form-btn" display="block" onclick="window.location.href='{{ url_for('main.index') }}';">Return to Home Screen</option>
                    </div>
                </div>
            </div>
            <span class="contact100-more">
                The Geospatial Store © 2020
            </span>
        </div>
    </body>
</html>