<!DOCTYPE html>
<html>
    <head>
        <title>Satellite Object Detection</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    </head>
    <body>
        <div class="container-contact100" style="background-image: url({{ url_for('static', filename='images/bg-01.jpg') }})">
            <div class="wrap-contact100">
                <form class="contact100-form validate-form" action="{{ url_for('predict_petal_length') }}" method="GET">
                    <span class="contact100-form-title">
                        Input a Petal Width
                    </span>
    
                    <div class="wrap-input100">
                        <span class="label-input100">Petal Width (in centimeters):</span>
                        <input class="input100" type="text" name="petal_width" maxlength=3 required>
                    </div>
    
                    <div class="container-contact100-form-btn">
                        <div class="wrap-contact100-form-btn">
                            <div class="contact100-form-bgbtn"></div>
                            <button class="contact100-form-btn" method=GET>
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
    
            <span class="contact100-more">
                The Geospatial Store © 2020
            </span>
        </div>

    </body>
</html>