Flask==1.1.1
Flask-Cors==3.0.9
scikit-learn==0.22.1
numpy==1.22.0
pandas==0.24.2
seaborn==0.9.0
requests==2.31.0
Werkzeug==2.2.3
uWSGI==2.0.22
fastai==1.0.60
google-api-python-client==1.7.11 
earthengine-api==0.1.219
Flask-SQLAlchemy==2.4.1
SQLAlchemy==1.3.16
opencv-python==4.2.0.34
 
# external requirements
click
Sphinx
coverage
flake8
python-dotenv>=0.5.1